:root {
	--dark-color: #425465;
	--bg-color: #ede2d0;
}

body {
	font-family: 'Open Sans', sans-serif;
	font-family: 'Roboto', sans-serif;
}
/* Nav bar*/

.nav-item .btn:hover {
	color: yellow;
}
.offcanvas {
	background-color: #413d3dc2;
}

.offcanvas ul li {
	list-style: none;
	margin-bottom: 30px;
}

.offcanvas ul li a {
	text-decoration: none;
	display: block;
	color: #fff;
	font-size: 26px;
	font-weight: 400;
	line-height: 1.5;
}

/*section*/
.packaging {
	background-color: var(--bg-color);
}
.contact-packaging h1 {
	content: '';
    font-size: 1rem;
	letter-spacing: .5rem;
}

.contact-packaging h2 {
	content: '';
    font-size: 3rem;
	color: var(--dark-color);
	font-family: 'Oswald', sans-serif !important;
}
.contact-packaging h3 {
	font-size: 1.2rem;
}

.contact-packaging p {
	max-width: 500px;
}

.contact-packaging a {
	color: rgba(0,0,0,.5)!important;
	font-size: initial;
}

.contact-packaging h3 a:hover {
	text-decoration: none;
}

.contact-packaging .btn {
	border-radius: 40px;
	font-size: 20px;
}
@media only screen and (max-width: 767px) {
	.packaging h1 {
		width: 120%;
    font-size: 20px;
	}
	.packaging h2 {
		font-size: 34px;

	}
	.packaging p {
		font-size: smaller;
    width: 100%;
	}
	.packaging h3 {
		font-size: smaller;
	}
}
/*WE Do*/
.container {
	position: relative;
}

.wedo .container h1 {
	font-size: 20px;
	letter-spacing: 5px;
}

.wedo .container h2, h1 {
	color: var(--dark-color);
}

.container .box {
	background-color: var(--bg-color);
	border-radius: 25px;
	min-height: 100%;
}

.container .box img  {
	margin-top: 20px;
	width: 10%;
}


.container .box p {
	font-weight: 300;
    line-height: 1.8;
    margin: 20px 0 0;
    min-width: 100%;
	font-size: small;
}
/*psd mockup*/
.psd {
	position: relative;
	background-image: url(../image/psd-img.jpg);
	background-size: 100%;
	background-size: cover;
	height: 100vh;
	background-position: 50% 50%;
}

.psd-content {
	background-color: #fff;
	width: 45%;
}

.psd-content h3, a {
	font-size: 16px;
}

.psd-content a {
	color: black;
}

.psd-content h3 a:hover {
	text-decoration: none;
}

@media only screen and (max-width: 767px) {
	.psd-content {
		width: auto;
	}
}
/*About Us*/
.container .content-about h2 {
	color: var(--dark-color);
}

.container .content-about ul li {
	font-size: 21px;
}

.container .this-side .count {
	position: absolute;
    background-color: rgb(238, 226, 206);
    display: grid;
    grid-template-columns: repeat(2, calc(99% - 52%));
    border-radius: 40px !important;
}
.container .this-side .count .text{
    font-size: 20px;
    text-align: center;
}
.container .this-side .count .num {
	margin-left: 20px;
}
@media only screen and (max-width: 767px) {
	/* .container {
		right: 0;
	} */
	.content-about {
		width: initial;
    line-height: 20px;
	}
	.container h2{
		font-size: small;
	}
	.container .this-side .count {
		right: 50px;
	}
}