:root {
	--dark-color: #425465;
	--bg-color: #ede2d0;
}
body {
	font-family: 'Open Sans', sans-serif;
	font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}
/* Nav bar*/

.nav-item .btn:hover {
	color: yellow;
}
.offcanvas {
	background-color: #413d3dc2;
}

.offcanvas ul li {
	list-style: none;
	margin-bottom: 30px;
}

.offcanvas ul li a {
	text-decoration: none;
	display: block;
	color: #fff;
	font-size: 26px;
	font-weight: 400;
	line-height: 1.5;
}
/*section*/
.row .contact-packaging,
.img-section {
	background-color: var(--bg-color);
}
.contact-packaging h1 {
	content: '';
    font-size: 1rem;
	letter-spacing: .5rem;
    margin-top: 135px;
}
.contact-packaging h2 {
	content: '';
    font-size: 4rem;
    margin-bottom: 20px;
	color: var(--dark-color);
	font-family: 'Oswald', sans-serif !important;
}
.contact-packaging h3 {
	font-size: 1.2rem;
    margin-bottom: 20px;
}
.contact-packaging p {
	max-width: 500px;
    margin-bottom: 20px;
}
.contact-packaging a {
	color: rgba(0,0,0,.5)!important;
	font-size: initial;
    margin-bottom: 10px;
}
.contact-packaging h3 a:hover {
	text-decoration: none;
}
.contact-packaging .btn {
	border-radius: 40px;
	font-size: 20px;
    margin-bottom: 155px;
    height: 60px;
}
@media (max-width: 575.98px) {
    .sec01 {
        margin: 0;
        display: inline-grid;
        overflow-x: hidden;
        width: 800px;
    }
    .contact-packaging {
        padding: 0 30px;
    }
    .navbar {
        width: 401px;
        overflow-x: hidden;
    }
	.packaging h1 {
		width: 220px;
        font-size: 20px;
	}
	.packaging .fw-bolder {
		font-size: 34px;
        width: fit-content;
	}
	.packaging p {
		font-size: smaller;
    width: 100%;
	}
	.packaging h3 {
		font-size: smaller;
	}
}
/*WE Do*/
.container {
	position: relative;
}

.wedo .container h1 {
	font-size: 20px;
	letter-spacing: 5px;
}

.wedo .container h2, h1 {
	color: var(--dark-color);
}
.list-unstyled {
    padding-left: 0;
    list-style: none;
    line-height: 2rem;
}
.container .content-box .box{
	background-color: var(--bg-color);
    border-radius: 25px;
    min-height: 90%;
    height: 460px;
    width: 360px;
}
.box .img-box .img01{
    width: 60px;
    margin: 20px;
}
.box .img-box {
   text-align: center;
}
.box .img-box .img02 {
    content: '';
    opacity: 0.5;
    width: 50px;
    margin: 20px;
}
.container .box p {
	font-weight: 300;
    line-height: 1.8;
    margin: 20px 0 0;
    min-width: 100%;
	font-size: small;
}
/*psd mockup*/
.psd {
    position: relative;
    background-image: url(../image/psd-img.jpg);
    background-size: cover;
    height: 120vh;
}
.psd-content {
    background-color: #fff;
    width: 525px;
    height: 450px;
    padding: 70px 45px;
    margin-top: 100px;
}
.psd-content .btn {
    height: 50px;
    width: 230px;
}
.psd-content h3,
a {
	font-size: 16px;
}

.psd-content a {
	color: black;
}

.psd-content h3 a:hover {
	text-decoration: none;
}
.psd-content .text011 {
    position: relative;
    font-weight: 900;
    font-size: 2.8rem;
    margin: -40px auto 12px 0;
    font-family: auto;
}
@media (max-width: 575.98px) {
    .psd  {
        width: 417px;
	}
    .psd-content{
        padding: 0 85px;
    }
}
/*About Us*/
.row .content-about h2 {
	color: var(--dark-color);
}

.counter-content {
    position: relative;
    max-width: 100%;
    background-color: var(--bg-color);
    border-radius: 40px !important;
   display: grid;
   grid-template-columns: repeat(2, calc(99% - 52%));
}
.row .num {
    margin-left: 20px;
    font-size: 4.5rem;
    color: var(--dark-color);
}
.display-3 {
    color: var(--dark-color);
}
@media (max-width: 575.98px) {
    .col-md-6 h2{
        font-size: medium;
    }
    .text-dark {
        margin-top: 290px;
    }
    .text-about  {
        font-size: 10px;
        width: fit-content;
        font-weight: bolder;
    }
    .text-2 {
        width: 100%;
        margin-bottom: -150px;
        font-size: small;
        font-weight: bolder;
    }
    .counter-content {
        display: inline-block;
        font-size: 15px;
        margin-bottom: 60px;
        margin-top: 160px;
    }
    .row .num, .display-3 {
        font-size: 33px;

    }
}
@media (max-width: 991px) {
    .counter-content {
        min-height: 100px;
    }
}
/*Grow*/
.grow {
    width: 101%;
    background-color: var(--bg-color);
    margin-top: 30%;
    height: 120vh;
}
.grow img {
    margin-top: -200px;
    border: 1px solid #efe7e7;
    width: 500px;
}
.grow .text01 p {
    font-weight: bold;
    margin-left: 500px;
    padding: 0 0;
    width: 200px;
    font-size: .75rem;
    margin-top: -100px;
}
.grow .text01 h1{
    color: #adcce9;
    background-color: #425465;
    width: 300px;
    border-radius: 40px;
    margin-left: 470px;
    text-align: -webkit-center;
    margin-top: -210px;
    padding: 70px 0;
    position: absolute;
}
.grow .text01 h2{
    margin-left: 40%;
    font-size: 19px;
    margin-top: -7%;
}

.grow .row .btn{
    margin-left: 520px;
    width: 164px;
}
.ms-2 {
    margin-left: -2.5rem!important;
}
.grow .text01 a:hover {
    text-decoration: none;
}
.grow .text03 p{
    font-size: smaller;
    margin-left: 815px;
    margin-top: -495px;
    font-weight: 200;
    width: 260px;
}
@media (max-width: 575.98px){
    .grow {
        height: fit-content;
        width: 411px;
    }
    .grow img {
        width: -webkit-fill-available;
        margin-top: -65px;
        margin-right: 40px;
    }
    .bg-grow {
        margin-left: 0;
    }
    .grow .text01 p {
        margin-top: 95px;
        width: 200px;
        font-size: 10px;
        margin-left: 48px;
    }
    .grow .text01 h1 {
        margin-left: 199px;
        margin-top: -153px;
        width: 35%;
        padding: 45px 0;
    }
    .grow .text01 h2{
        margin-top: -40px;
        margin-left: 40px;
    }
    .grow .text01 .btn {
        margin-left: 70px;
    }
    .grow .text03 p {
        font-size: 10px;
        width: 70%;
        margin-left: 50px;
        margin-top: 3px;
    }
}
/*Design*/
.row-design {
    margin-top: 0;
    position: relative;
    background-image: url(../image/business-img.jpg);
    background-size: cover;
    height: 100vh;
    background-position: 50% 50%;
}
.row-design .content-design {
    background-color: rgb(255, 255, 255);
    border-radius: 40px;
    width: 450px;
    float: right;
    height: 450px;
}
.fst-italic {
    font-style: italic!important;
    font-size: 1.5rem;
    font-weight: 300;
}
.w-50 {
    width: 45%!important;
    height: 45px;
}
.row-design .content-design h2  {
    font-size: smaller;
}
.row-design .content-design a {
    font-size: small;
}
@media (max-width: 575.98px) {
    .row-design {
        width: 400px;
    }
    .row-design .content-design {
        width: 258px;
        height: auto;
    }
    .row-design .content-design h1 {
    font-size: smaller;
    }
    .row-design .content-design p {
        font-size: smaller;
    }
    .row-design .content-design h2 {
        font-size: x-small;
    }
    .row-design .content-design a {
        font-size: xx-small;
    }
    .row-design .content-design .btn {
        padding: 0 0;
    }
}
/*Our Project*/
.row-project {
    background-color: var(--bg-color);
}
.row-project .component .box01 {
    overflow: hidden;
    margin-bottom: 20px;
}
.row-project .component .box img {
    width: 350px;
    cursor: pointer;
    transition: all 800ms ease-in-out;
    opacity: 1;
    transform: scale(1);
    height: 250px;
}
.row-project .component .box img:hover {
    transform: scale(1.5);
    background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
}
.row-project .component .content-project0 {
    display: inline-block;
}
.row-project .component .content-project0 h3 {
    font-size: small;
}
.row-project .component .content-project0 a{
    font-size: small;
}
.row-project .component .content-project0 .btn {
    width: 210px;
    height: 55px;
}
.row-project .component .content-project0 a:hover{
    text-decoration: none;
}
@media (max-width: 575.98px){
    .row-project {
        width: 400px;
    }
}
@media only screen and (max-width: 767px) {
    .row-project .component {
        display: grid;
        grid-template-columns: repeat(1, auto);
        padding: 0 30px;
    }
    .row-project .component .box{
        width: 250px;
    }
    .row-project .component .box img {
        width: 300px;
        object-fit: cover;
    }
    .row-project .component .content-project0 {
        margin-top: 0;
        margin-left: 0;
    }
}
/*contact*/
.contact-form .contact-r .image-contact {
    padding: 30px;
    position: relative;
}
.contact-form .contact-r .image-contact::before{
    content: "";
    position: absolute;
    background-color: var(--bg-color);
    width: 400px;
    height: 790px;
    top: -5px;
    left: 0;
    z-index: -1;
}
.contact-form .contact-r {
    margin-top: 40px;
}
.contact-form .contact-r .image-contact img {
    border-radius: 60px;
    width: 525px;
    height: 700px;
    object-position: left;
}

.contact-form0 .form-control{
    margin-top: 20px;
    padding: 20px 10px;
    background-image: none;
    background-clip: padding-box;
    border: none;
    border-radius: 3px;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    background-color: #f2f2f2;
    color: inherit;
}

.contact-form0 .form-control {
    cursor: pointer;
    color: #f2f2f2;
    text-transform: uppercase;
    width: 500px;
}
.contact-form0 .form-control[type="submit" ]:hover {
    background-color: #131212;
}
.contact-form .input-info h2 {
    content: '';
    text-transform: none;
    color: #425465;
    font-size: 55px;
    font-weight: 500;
}

.contact-form .input-info h3 {
    font-weight: 400;
    font-size: 1.125rem;
    margin: 20px auto 20px 0;
    color: rgb(80, 75, 75);
}

.contact-form .input-info a {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: rgb(80, 75, 75);
}

.contact-form .input-info a:hover {
    text-decoration: none;
    transition: 1s;
}

.contact-form .input-info .li-fa {
    content: '';
    letter-spacing: 10px;
    color: #425465;
    cursor: pointer;
}
@media (max-width: 575.98px) {
    .contact-form .contact-r .image-contact img {
        padding: 149px 90px;
        float: right;
        margin: -120px -323px;
    }
    .contact-form0 .form-control {
        padding: 22px 27px;
        width: fit-content;
    }
    .contact-form0 {
        margin-top: 455px;
        margin-left: -113px;
    }
    .contact-form .contact-r .image-contact::before {
        margin-top: -90px;
        height: 263vh;
    }
}